.no-js .dropdown-list {
  display: none;
}

.no-js .navbar-inner {
  opacity: 0;
}

.navbar-inner {
  transition: .25s ease-in-out;
  opacity: 1;
}

.dropdown-list {
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0) rotateX(90deg);
  transition: 0.3s ease-in-out;
  transform-origin: left top;

  width: 400px;
  overflow: hidden;

  max-height: calc(100vh - 6rem);
}

.top-menu-link:after {
  content: "";
  width: 100%;
  height: 4px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: left top;
}
.sub-level-list-close{
  text-transform: capitalize;
}
.navbar .sub_level_list {
  transform: translate3d(100%, 0, 0);
  transition: 0.3s ease-in-out;
  overflow-y: auto;

  &.exposed {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 900px) {
  .top-menu-link.exposed .dropdown-list {
    transform: translate3d(-50%, 0, 0) rotateX(0deg);
    z-index: 999;
  }

  .top-menu-link > span > svg {
    transition: 0.3s;
    transform: rotate(0deg);
  }

  .top-menu-link.exposed {
    & > span > svg {
      transform: rotate(180deg);
    }
  }

  .top-menu-link:hover,
  .top-menu-link.exposed {
    color: #f68510;
    &:after {
      transition: 0.4s ease-in-out;
      transform: rotateY(0deg);
    }
  }
}
