@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueMedium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "hel-neue";
  src: url("/assets/fonts/HelveticaNeueBold.ttf");
  font-weight: 700;
}
