{% assign collections = site.collections | sort: 'position' %}
{% for collection in collections %}
{% if collection.label != "posts" %}

<div class="px-4 hover:bg-white hover:text-black accordian-top-level">
    <input type="checkbox" name="accordian_radio" id="{{ collection.label }}" class="accordian-trigger hidden">
    <label for="{{ collection.label }}" class="py-3 pr-8 flex justify-between items-center w-full accordian-label text-black font-light text-3xl md:text-4xl hover:text-orange cursor-pointer">
        <span class="flex items-center">
            {% include {{ collection.icon }} %}
            <span class="ml-4">{{ collection.title[page.lang] }}</span>
        </span>
        <span class="accordian-icon flex justify-center items-center">
            <svg height="24"
                 class="text-orange"
                 viewBox="0 0 24 24"
                 width="24"
                 xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
        </span>
    </label>

    {% assign used_categories = "" | split: "" %} {% assign articles=site[collection.label] | where:"lang",page.lang %}

    <ul class="accordian-inner border-b border-grey-light bg-white list-reset pr-4 pl-4 md:pl-16 w-full">

        {% for article in articles %}
        {% assign parts = article.path | split: "/" %}
        {% assign num_parts = article.path | split: "/" | size %}
            {% if num_parts == 2 %}

        <li {% if forloop.first %} class="mt-3" {% endif %} {% if forloop.last %} class="mb-6" {% endif %}>
            <a class="w-full block py-2 hover:text-orange text-black no-underline" href="{{ article.url | relative_url }}">
                {{ article.title | escape }}
            </a>
        </li>

            {% else %}
                {% assign sub_level = parts[1] %}
                {% assign matched = used_categories | where_exp:"item", "item == sub_level" | size %}
                {% if matched == 0 %}
                {% assign all_articles = site[collection.label] | where: "lang", page.lang %}

        <li {% if forloop.first %} class="mt-3" {% endif %} {% if forloop.last %} class="mb-6" {% endif %}>
            <p class="py-2 pl-2 font-black bg-grey-lighter text-black">
                {{ sub_level | replace: "_", " " | capitalize }}
            </p>
            <ul class="sub_level_list list-reset pl-4">

                {% for art in all_articles %}
                {% assign parts = art.path | split: "/" %}
                {% assign num_parts = art.path | split: "/" | size %}
                {% if num_parts == 3 and parts[1] == sub_level %}

                <li>
                    <a class="w-full block py-2 hover:text-orange text-black no-underline" href="{{ art.url | relative_url }}">
                        {{ art.title | escape }}
                    </a>
                </li>

                {% endif %} {% endfor %}

            </ul>
        </li>

        {% assign used_categories = used_categories | push: sub_level %} {% endif %} {% endif %} {% endfor %}

    </ul>

</div>

{% endif %} {% endfor %}