<div class="text-grey-light page-header-bg px-2 flex items-center h-12">
    <span class="text-grey-light mr-3 hidden md:flex items-center">{% include svg/globe.svg %}</span>
    {% assign posts = site[page.collection] | where: "ref", page.ref | where_exp: "item", "item.lang != page.lang" %}
    <span class="text-orange mr-2 uppercase">{{ page.lang }}</span>
    {% for post in posts %}
    /<a href="{{ post.url }}" class="no-underline text-grey ml-2 mr-2 uppercase hover:text-orange">{{ post.lang }}</a>
    {% endfor %}
</div>
