<style>
    .article-content > h2 {
        background-color: #ffffff;
        color: #ffa500;
        cursor: pointer;
        width: 100%;
        text-align: left;
        outline: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .article-content > h2 > a {
        color: black;
    }

    .article-content > .active, .article-content > h2:hover {
        background-color: #ffffff;
        color: #ffa500;
    }

    .article-content > h2:after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" class="ml-4"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>');
        color: #ffa500;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transform: rotate(0deg);
    }

    .article-content > .active:after {
        transform: rotate(90deg);
    }

    .article-content > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: #fafafa;
        padding-left: 3rem !important;
        margin-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
    }

    .article-content > ul > li:first-child {
        margin-top: 20px;
    }

    .article-content > ul > li:last-child {
        margin-bottom: 20px;
    }

    @keyframes turn {
        to {
            transform: rotate(90deg);
        }
    }
    @-webkit-keyframes turn {
        to {
            -webkit-transform: rotate(90deg);
        }
    }
</style>
<script>
    var coll = document.getElementsByTagName("h2");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    coll[0].classList.toggle("active");
    var initialItem = coll[0].nextElementSibling;
    initialItem.style.maxHeight = initialItem.scrollHeight + "px";
</script>
