<style>
    .article-content > h2 {
        background-color: #f1f0f0;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .article-content > .active, .article-content > h2:hover {
        background-color: #888;
        color: #FFFFFF;
    }

    .article-content > h2:after {
        content: '\002B';
        color: #f29205;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .article-content > .active:after {
        content: "\2212";
    }

    .article-content > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        padding-left: 3rem !important;
    }
</style>
<script>
    var coll = document.getElementsByTagName("h2");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
