<div class="block text-center mt-8" style="max-height: fit-content; background: #FFFFFF; border-bottom-width: 0;">
    <span id="seeMoreLink" class="action-link z-10 cursor-pointer">
        <span>{{ site.language[page.lang].version-history-see-more }} <i class="right-arrow rotate"></i></span>
    </span>
</div>
<div class="block text-center mt-4" style="max-height: fit-content; background: #FFFFFF; border-bottom-width: 0;">
    <a href="{{ site.language[page.lang].version-history-archive-link }}" class="action-link z-10 cursor-pointer">
        <span>{{ site.language[page.lang].version-history-archive }} <i class="right-arrow rotate"></i></span>
    </a>
</div>
<div id="text-download-tooltip" class="hidden">{{ site.language[page.lang].version-history-download-tooltip }}</div>

<div class="relative z-10 hidden" id="download-modal" role="dialog">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">

            <div class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6">

                <div class="hidden sm:block absolute top-0 right-0 pt-3 pr-3">
                    <button type="button" id="download-modal-close" class="p-1 bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange">
                        <span class="sr-only">Close</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <div class="mt-3 text-center sm:mt-5">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">{{ site.language[page.lang].version-history-download-modal-title-pre }} <span id="download-modal-title"></span> {{ site.language[page.lang].version-history-download-modal-title-post }}</h2>
                </div>
                <div class="mt-6 sm:mt-10 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
                    <button type="button" id="download-modal-link-designer" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-orange text-lg font-semibold text-white hover:bg-orange-light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange sm:text-lg">Peakboard Designer</button>
                    <button type="button" id="download-modal-link-box" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-orange text-lg font-semibold text-white hover:bg-orange-light  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange sm:text-lg">Peakboard Box</button>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    @media only screen and (max-width: 600px) {
        .article-content > h2 {
            font-size: 1.3rem;
        }
    }

    .article-content > h2 {
        background-color: #ffffff;
        color: black;
        cursor: pointer;
        width: 100%;
        text-align: left;
        outline: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding: 6px;
    }

    .article-content > h2 > a {
        color: black;
    }

    .article-content > h2:hover {
        background-color: #fafafa;
    }

    .article-content > h2 > span:after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" class="ml-4"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>');
        color: #ffa500;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transform: rotate(0deg);
        margin-top: 3px;
    }
    .article-content > h2 > span {
        font-size: 20px;
        color: #000000;
    }

    .article-content > .active > span:after {
        transform: rotate(90deg);
    }

    .article-content ul {
        padding-left: 3rem !important;
    }

    .article-content ul > li:first-child {
        margin-top: 20px;
    }

    .article-content ul > li:last-child {
        margin-bottom: 20px;
    }

    .article-content > div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: #fafafa;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
        margin-bottom: 20px;
    }

    .article-content .download-link {
        font-size: 20px;
    }
    @media only screen and (max-width: 600px) {
        .article-content .download-link {
            display: none;
        }
    }

    .article-content .download-link:focus {
        border-bottom: 0;
    }

    .article-content .download-link:hover {
        border-bottom: 0;
    }

    @keyframes turn {
        to {
            transform: rotate(90deg);
        }
    }
    @-webkit-keyframes turn {
        to {
            -webkit-transform: rotate(90deg);
        }
    }
</style>
<script>

    var renderShowMoreLink = false;
    var coll = document.getElementsByTagName("h2");

    for (var i = 0; i < coll.length; i++) {
        var entryTitle = coll[i].childNodes[0].nodeValue;
        var link = coll[i].getElementsByTagName('a');

        // if h2 content starts with number
        if (entryTitle.match(/^\d/)) {
            // obtain just the date
            var date = entryTitle.substring(
                entryTitle.lastIndexOf("(") + 1,
                entryTitle.lastIndexOf(")")
            );

            coll[i].childNodes[0].nodeValue = entryTitle.replace('(' + date + ')','');

            var span = document.createElement("span");
            span.innerText = date;
            span.classList.add("text-right");

            coll[i].append(span);

            // hide individual version rows after 10 rows
            if(i > 10) {
                coll[i].style.display = 'none';
                coll[i].nextElementSibling.style.display = 'none';
                renderShowMoreLink = true;
            }
        }

        for (var a = 0; a < link.length; a++) {

            if(window.screen.width <= 600) {
                link[a].remove();
            } else {
                var wrapper = document.createElement('div');
                wrapper.classList.add("col-span-2");
                link[a].parentNode.insertBefore(wrapper, link[a]);
                wrapper.appendChild(link[a]);

                link[a].classList.add("download-link", "float-right", "relative");

                var linkIcon = document.createElement("img");
                linkIcon.src = "/assets/images/misc/version-history/peakboard-icon-download.svg";
                linkIcon.alt = "Icon";
                linkIcon.style.display = "inline";
                linkIcon.setAttribute("style", "display: inline !important; width: 1.5rem; margin: 0 !important; max-width: initial !important;");
                linkIcon.classList.add("lightbox-ignore");
                link[a].prepend(linkIcon);

                /*var linkToolTipParent = document.createElement("div");
                linkToolTipParent.classList.add(
                    "z-50","origin-top-right","absolute","right-0",
                    "mt-2","w-80","rounded-md","bg-white",
                    "ring-2","ring-orange","ring-opacity-80","link-tool-tip","hidden");

                var linkToolTip = document.createElement("p");
                linkToolTip.classList.add(
                    "block","px-4","py-2","text-sm","text-center",
                    "text-gray-700","hover:bg-gray-100","hover:text-gray-900");
                linkToolTip.innerHTML = document.getElementById("text-download-tooltip").innerText + "<br>" + document.getElementById("text-download-tooltip").innerText;
                linkToolTipParent.append(linkToolTip);

                link[a].append(linkToolTipParent);*/

                // when click on download link, toggle visibility of the modal
                link[a].addEventListener("click", function(event) {
                    var targetElement = event.target;

                    document.getElementById("download-modal-title").innerText = targetElement.getAttribute('data-version');
                    document.getElementById("download-modal-link-box").setAttribute('data-target', targetElement.getAttribute('data-download-link-box'));
                    document.getElementById("download-modal-link-designer").setAttribute('data-target', targetElement.getAttribute('data-download-link-designer'));
                    document.getElementById("download-modal").classList.toggle("hidden");
                }, false);

                if(i === 0) {
                    document.getElementById("download-modal-link-designer").addEventListener("click", function (event) {
                        var targetElement = event.target;
                        window.open(targetElement.getAttribute('data-target'), '_blank');
                    }, true);

                    document.getElementById("download-modal-link-box").addEventListener("click", function (event) {
                        var targetElement = event.target;
                        window.open(targetElement.getAttribute('data-target'), '_blank');
                    }, true);

                    document.getElementById("download-modal-close").addEventListener("click", function (event) {
                        document.getElementById("download-modal").classList.add("hidden");
                    }, true);
                }
            }
        }


        coll[i].addEventListener("click", function(event) {
            // collapse previous active entry

            var targetElement = event.target;
            if(targetElement.classList.contains('download-link')) {
                return;
            }

            // open clicked entry
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });

        if(coll[i].nextElementSibling) coll[i].nextElementSibling.style.minWidth = "100%";
        if(link.length === 0) {
            coll[i].classList.add("grid", "grid-cols-2");
        } else if (link.length === 1 && window.getComputedStyle(link[0]).getPropertyValue("display") !== 'none') {
            coll[i].classList.add("grid", "grid-cols-4");
        } else if (link.length === 2 && window.getComputedStyle(link[0]).getPropertyValue("display") !== 'none') {
            coll[i].classList.add("grid", "grid-cols-5");
        } else {
            coll[i].classList.add("grid", "grid-cols-2");
        }
    }

    // render the show-more link
    if(renderShowMoreLink) {

        // make onclick that shows all other versions
        document.getElementById("seeMoreLink").addEventListener("click", function() {
            var coll = document.getElementsByTagName("h2");

            for (var i = 0; i < coll.length; i++) {
                if(coll[i].id.includes('-download')) {
                    if(coll[i].style.display === 'none') {
                        coll[i].style.display = null;
                        coll[i].nextElementSibling.style.display = null;
                    }
                }
            }

            document.getElementById("seeMoreLink").style.display = 'none';
        });
    }

    coll[0].classList.toggle("active");
    var initialItem = coll[0].nextElementSibling;
    initialItem.style.maxHeight = initialItem.scrollHeight + "px";
</script>