<section class="content-center mt-16">
    <div class="bg-gray-50">
        <div class="py-32 mx-auto max-w-2xl xl:max-w-4xl">
            <h3 class="text-center uppercase text-xl">{{ site.language[include.lang].cta-subtitle }}</h3>
            <h2 class="lowercase text-center text-3xl mb-8 lg:text-4xl lg:mb-4">{{ site.language[include.lang].cta-title }}</h2>
            <div class="grid grid-cols-1 gap-8 mx-4 lg:gap-8 lg:grid-cols-3">
                <div class="text-center">
                    <img class="block w-20 mx-auto" src="/assets/images/cta/peakboard-icon-youtube.svg" alt="Peakboard Youtube icon">
                    <a href="{{ site.language[include.lang].cta-column-one-link }}" class="inline-block my-4 border-b-2 border-orange font-semibold text-dark-black hover:text-orange focus:text-orange">
                        <span>{{ site.language[include.lang].cta-column-one-link-text }} <i class="right-arrow"></i></span>
                    </a>
                    <p class="text-center">{{ site.language[include.lang].cta-column-one-text }}</p>
                </div>
                <div class="text-center">
                    <img class="block w-20 mx-auto" src="/assets/images/cta/peakboard-icon-templates.svg" alt="Peakboard Templates icon">
                    <a href="{{ site.language[include.lang].cta-column-two-link }}" class="inline-block my-4 border-b-2 border-orange font-semibold text-dark-black hover:text-orange focus:text-orange">
                        <span>{{ site.language[include.lang].cta-column-two-link-text }} <i class="right-arrow"></i></span>
                    </a>
                    <p class="text-center">{{ site.language[include.lang].cta-column-two-text }}</p>
                </div>
                <div class="text-center">
                    <img class="block w-20 mx-auto" src="/assets/images/cta/peakboard-icon-website.svg" alt="Peakboard icon">
                    <a href="{{ site.language[include.lang].cta-column-three-link }}" class="inline-block my-4 border-b-2 border-orange font-semibold text-dark-black hover:text-orange focus:text-orange">
                        <span>{{ site.language[include.lang].cta-column-three-link-text }} <i class="right-arrow"></i></span>
                    </a>
                    <p class="text-center">{{ site.language[include.lang].cta-column-three-text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .right-arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 3px;
        margin-bottom: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
</style>
