{% for lang in site.language %}
    {% if lang contains page.lang %}
        {% for text in lang %}
            {% if text != page.lang %}
            <footer class="bg-black">
                <div class="px-8 pt-12 pb-4">
                    <div class="flex flex-col max-w-2xl mx-auto md:flex-row border-b border-grey-light pb-6 mb-6">
                        <div class="mr-8 flex items-center">
                            <img src="/assets/logos/logo.svg" width="200" alt="Logo for Peakboard">
                        </div>
                        {% for collection in site.collections %}
                            {% assign pages = site[collection.label] | where: "ref", 'misc-1' | where: "lang", page.lang %}
                            {% for p in pages %}
                                <div class="mr-8 mt-8 md:mt-0">
                                    <h3 class="mb-4 font-bold text-xl text-white dot">{{ text.footer-version }}</h3>

                                    {% assign sorted_version_history_entries = site.data[page.lang].version_history | sort %}
                                    {% assign latest_version = sorted_version_history_entries | reverse | first %}
                                    <p class="mb-4 font-bold text-white pr-4">{{ latest_version.version }} ({{ latest_version.date }})</p>

                                    <a href="{{ p.url }}" class="text-white no-underline hover:underline font-light pr-4">{{ p.title }}</a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="mr-8 mt-12 md:mt-0">
                            <h3 class="mb-4 font-bold text-xl text-white dot">{{ text.footer-support }}</h3>
                            <p class="mb-3 font-bold text-white pr-4">{{ text.footer-support-tel }}
                                <a href="#" class="text-white no-underline hover:underline font-light">+49 711 46 05 99 -61</a>
                            </p>
                            <p class="font-bold text-white pr-4">{{ text.footer-support-email }}
                                <a href="mailto:support@peakboard.com" class="text-white no-underline hover:underline font-light">support@peakboard.com</a>
                            </p>
                        </div>
                        <div class="mt-12 mr-8 md:mt-0">
                            <h3 class="mb-4 font-bold text-xl text-white dot">{{ text.footer-contact }}</h3>
                            <p class="mb-3 font-bold text-white pr-4">{{ text.footer-contact-email }}
                                <a href="mailto:info@peakboard.com" class="text-white no-underline hover:underline font-light">info@peakboard.com</a>
                            </p>
                            <p class="font-bold text-white pr-4">{{ text.footer-contact-website }}
                                <a href="https://www.peakboard.com" class="text-white no-underline hover:underline font-light">www.peakboard.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="max-w-2xl mx-auto">
                        <p class="text-white">&copy; {{ site.time | date: "%Y" }}. {{ text.footer-copyright }} <a class="text-white no-underline hover:underline font-light" href="{{ text.footer-legal-url }}">{{ text.footer-legal }}</a> <a class="text-white no-underline hover:underline font-light" href="/{{ page.lang }}/privacy">{{ text.footer-privacy }}</a></p>
                    </div>
                </div>
                
                <img src="/assets/images/footer/peakboard-berg.jpg" alt="Footer image">
            </footer>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


