<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="theme-color" content="#f68510"/>
<meta name="description" content="{{ page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="manifest" href="/manifest.json">
<link href="{{ '/assets/app.css' | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
<link href="{{ '/assets/lity.min.css' | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />

{% include gtm_head.html %}
{% include cookie_alert.html %}
