<div class="article-overview hidden sm:hidden md:block lg:block xl:block">
    <script src="/assets/masonry.js"></script>
    <style>
        .custom-shape-divider-bottom-two {
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            background: #ffffff;
        }
        .custom-shape-divider-bottom-two svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 120px;
        }

        .custom-shape-divider-bottom-two .shape-fill {
            fill: #F1F0F0;
        }

        .masonry-grid-item {
            width: 30%;
            margin-bottom: 2rem;
        }
        .gutter-sizer {
            width: 5%;
        }
    </style>
    <div class="hidden sm:block custom-shape-divider-bottom-two">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="pb-12 px-8 max-w-xl mx-auto">
        <h3 class="font-bold text-4xl text-black">{{ site.language[page.lang].homepage-article-overview-title }}</h3>
        <p class="my-3 text-black">{{ site.language[page.lang].homepage-article-overview-content }}</p>

        <div class="mt-8">
            <div id="masonry-grid">
                {% assign collections = site.collections | sort: 'home_position' %}
                {% for collection in collections %}
                    {% if collection.label != "posts" %}{% if collection.label != "tutorials" %}
                        {% if collection.title[page.lang] %}
                            <div class="masonry-grid-item w-1/3 overflow-hidden mb-4 pr-2">
                                <div class="flex">
                                    <div class="">{% include svg/{{ collection.icon }} %}</div>
                                    <div class="w-auto"><h3 class="md:ml-2 inline content-center text-lg font-bold">{{ collection.title[page.lang] }}</h3></div>
                                </div>

                                {% assign used_categories = "" | split: "" %}
                                {% assign articles=site[collection.label] | where:"lang",page.lang %}
                                {% assign sorted_articles = (articles | sort: 'weight') %}

                                {% for article in sorted_articles %}
                                    {% assign parts = article.path | split: "/" %}
                                    {% assign num_parts = article.path | split: "/" | size %}
                                    {% if num_parts == 2 %}
                                        <div class="flex">
                                            <div class=""></div>
                                            <div class="w-auto {% if forloop.first %}mt-1{% endif %}">
                                                <a class="w-full block py-1 hover:text-orange text-black no-underline" href="{{ article.url | relative_url }}">
                                                    {{ article.title | escape }}
                                                </a>
                                            </div>
                                        </div>

                                    {% else %}
                                        {% assign sub_level = parts[1] %}
                                        {% assign matched = used_categories | where_exp:"item", "item == sub_level" | size %}
                                        {% if matched == 0 %}
                                            {% assign all_articles = site[collection.label] | where: "lang", page.lang %}
                                            <div class="flex level-1">
                                                <div class=""></div>
                                                <div class="w-auto {% if forloop.first %}mt-1{% endif %}">
                                                    <p class="w-full block py-1 text-black hover:text-orange" data-self="{{ sub_level }}" data-opened="false">
                                                        {{ sub_level | replace: "_", " " }}
                                                    </p>
                                                </div>
                                            </div>

                                            {% assign sorted_sub_articles = (all_articles | sort: 'weight' ) %}
                                            {% for art in sorted_sub_articles %}
                                                {% assign parts = art.path | split: "/" %}
                                                {% assign num_parts = art.path | split: "/" | size %}
                                                {% if num_parts == 3 and parts[1] == sub_level %}
                                                    <div class="flex level-2" data-parent="{{ sub_level }}">
                                                        <div class=""></div>
                                                        <div class="md:ml-4 w-auto {% if forloop.first %}mt-3{% endif %}">
                                                            <a class="w-full block py-1 hover:text-orange text-black no-underline" href="{{ art.url | relative_url }}">
                                                                {{ art.title | escape }}
                                                            </a>
                                                        </div>
                                                    </div>

                                                {% endif %}
                                            {% endfor %}

                                            {% assign used_categories = used_categories | push: sub_level %}
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="gutter-sizer"></div>
                        {% endif %}
                    {% endif %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .level-1 {
        cursor: pointer;
    }

    .level-2 {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    [data-self]:after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" height="15px" class="ml-4"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>');
        color: #ffa500;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transform: rotate(0deg);
    }

    [data-self][data-opened="true"]:after {
        transform: rotate(90deg);
    }

    @keyframes turn {
        to {
            transform: rotate(90deg);
        }
    }
    @-webkit-keyframes turn {
        to {
            -webkit-transform: rotate(90deg);
        }
    }
</style>

<script>
    var msnry = new Masonry( '#masonry-grid', {
        percentPosition: true,
        columnWidth: '.masonry-grid-item',
        itemSelector: '.masonry-grid-item',
        gutter: '.gutter-sizer'
    });

    // COLLAPSIBLE CODE
    var level1elements = document.getElementsByClassName("level-1");

    for (var i=0; i < level1elements.length; i++) {
        level1elements[i].onclick = function(ev){

            var currentElement = ev.target;
            var opened;

            if(currentElement.getAttribute('data-opened') === 'false') {
                currentElement.setAttribute('data-opened', 'true');
                opened = true;
            } else {
                currentElement.setAttribute('data-opened', 'false');
                opened = false;
            }

            var level2elementParentValue = currentElement.getAttribute('data-self');
            var level2elements = document.querySelectorAll("[data-parent='" + level2elementParentValue + "']");

            if(level2elementParentValue !== null) {
                // we really opened a submenu in the article overview, so recalculate
                //console.log(currentElement.parentElement.parentElement.parentElement);

                //resizeAllGridItems();
            }


            for(var j=0; j < level2elements.length; j++) {
                if(opened) {
                    level2elements[j].style.minHeight = level2elements[j].scrollHeight + "px";
                } else {
                    level2elements[j].style.minHeight = null;
                }
            }

            msnry.layout()
        }
    }
</script>
