{% if page.lang == 'de' %}
    {% capture search_link %}/search.html{% endcapture %}
{% else %}
    {% capture search_link %}/{{page.lang}}/search.html{% endcapture %}
{% endif %}

<section class="hero py-8 px-8">
    <div class="my-6 max-w-xl mx-auto px-8">
        <h2 class="font-bold text-4xl text-white">{{ site.language[page.lang].homepage-top-section-title }}</h2>
        <p class="my-3 text-white">{{ site.language[page.lang].homepage-top-section-content }}</p>
        <!-- Removed: link above search bar. Commented out because can be used again in future -->
        <!--<a href="{{ site.language[page.lang].homepage-top-section-link }}" class="action-link"><span>{{ site.language[page.lang].homepage-top-section-link-text }} <i class="right-arrow"></i></span></a>-->

        <div class="search-container mt-8">
            <form id="search-form-homepage" action="{{search_link}}">
                <span><input type="text" class="search-bar search-bar-rounded focus:ring-0" placeholder="{{ site.language[page.lang].homepage-top-section-search-placeholder }}" name="fromHomepage" autocapitalize="off" autocomplete="off" autocorrect="off"></span>
            </form>
        </div>

        {% if site.language[page.lang].homepage-top-section-warning != '' %}
        <div class="homepage-box-warning" markdown="1">
            <b>{{ site.language[page.lang].homepage-top-section-warning }}</b>
        </div>
        {% endif %}
    </div>
</section>
