<div class="text-grey-light page-header-bg px-2 flex items-center h-12">
    <span class="text-grey-light mr-3 hidden md:flex items-center">{% include svg/globe.svg %}</span>
    {% if page.lang == "de" %}
        <span class="text-orange-light mr-2">DE</span> /
        <a href="{{ '/en/' | relative_url }}" class="no-underline text-grey ml-2 mr-2 hover:text-orange">EN</a> /
        <a href="{{ '/cn/' | relative_url }}" class="no-underline text-grey ml-2 hover:text-orange">CN</a>
    {% endif %}
    {% if page.lang == "en" %}
        <a href="{{ '/' relative_url }}" class="no-underline text-grey mr-2 hover:text-orange">DE</a> /
        <span class="text-orange-light mr-2 ml-2">EN</span> /
        <a href="{{ '/cn/' | relative_url }}" class="no-underline text-grey ml-2 hover:text-orange">CN</a>
    {% endif %}
    {% if page.lang == "cn" %}
        <a href="{{ '/' relative_url }}" class="no-underline text-grey mr-2 hover:text-orange">DE</a> /
        <a href="{{ '/en/' | relative_url }}" class="no-underline text-grey ml-2 mr-2 hover:text-orange">EN</a> /
        <span class="text-orange-light ml-2">CN</span>
    {% endif %}
</div>
