<div class="text-grey-light bg-grey-darkest px-4 flex items-center h-12 border-l border-grey-light">
    <span class="text-grey-dark mr-3 hidden md:flex items-center">{% include globe.svg %}</span>
    {% if page.lang == "en" %}
    <span class="text-orange-light mr-2">EN</span> /
    <a href="{{ '/de/' | relative_url }}" class="no-underline text-grey ml-2">DE</a>
    {% endif %} {% if page.lang != "en" %}
    <span class="text-orange-light mr-2">DE</span> /
    <a href="{{ '/' | relative_url }}" class="no-underline text-grey ml-2 hover:text-orange">EN</a>
    {% endif %}
</div>