{% if page.lang == 'de' %}
    {% capture search_link %}/search.html{% endcapture %}
{% else %}
    {% capture search_link %}/{{page.lang}}/search.html{% endcapture %}
{% endif %}


<div class="relative h-12 md:hidden lg:hidden flex items-center cursor-pointer">
    <form class="search-form search-form-mobile" action="{{search_link}}">
        <div class="md:flex items-center border-b border-grey-light h-12 bg-grey-darker text-grey-light" style="width:100%">
            <input class="search-form-input search-form-input-mobile text-grey-light bg-grey-darkest focus:ring-0" autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="{{ site.language[page.lang].search-bar-placeholder }}" role="textbox" spellcheck="false" type="text" value="" name="fromHomepage" >
        </div>
        <button type="submit" class="no-underline hover:text-orange text-grey-light md:flex items-center bg-grey-darkest border-b border-grey-light px-3 h-12" style="padding-right: 32px;">
            {% include svg/search-24.svg %}
        </button>
    </form>
</div>

{% assign collections = site.collections | sort: 'position' %}
{% for collection in collections %}
    {% if collection.label != "posts" %}
        {% if collection.title[page.lang] %}
            <div class="relative px-2 h-12 top-menu-link flex items-center nav-top-link cursor-pointer">
                <span class="hover:text-orange tracking-wide inline">{{ collection.title[page.lang] }}
                    <svg height="16"
                         class="align-middle menu-down-caret inline"
                         viewBox="0 0 20 20"
                         width="14"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                        <path d="M0-.75h24v24H0z" fill="none"/>
                    </svg>
                </span>

                {% assign used_categories = "" | split: "" %}
                {% assign articles=site[collection.label] | where:"lang",page.lang %}

                <div class="dropdown-list bg-grey-darker z-50 flex absolute p-4 shadow{% if collection.label == 'administration' %} height-fix{% endif %}">
                <ul class="overflow-top-menu static w-full list-reset">
                    <li class="flex w-screen hover:text-orange inner-menu-close mb-4  text-sm text-grey-darkest mb-4 pb-4 xl:hidden items-center border-b border-grey-lighter">
                        {% include svg/left_arrow.svg %}
                        <span>{{ site.language[page.lang].top-menu-menu }}</span>
                    </li>
                    {% assign sorted_articles = (articles | sort: 'weight') %}
                    {% for article in sorted_articles %}
                        {% assign parts = article.path | split: "/" %}
                        {% assign num_parts = article.path | split: "/" | size %}
                        {% if article.draft != true %}
                            {% if num_parts == 2 %}

                        <li>
                            <a class="w-full block py-1 hover:text-orange text-sm text-white no-underline" href="{{ article.url | relative_url }}">
                                {{ article.menu_title | default: article.title | escape }}
                            </a>
                        </li>

                            {% else %}
                                {% assign sub_level = parts[1] %}
                                {% assign matched = used_categories | where_exp:"item", "item == sub_level" | size %}
                                {% if matched == 0 %}
                                    {% assign all_articles = site[collection.label] | where: "lang", page.lang %}

                        <li class="has-submenu">
                            <p class="py-2 hover:text-orange cursor-pointer text-sm text-white flex items-center">

                                {{ collection.sublevel[sub_level][page.lang] }}

                                {% include svg/right_arrow.svg %}
                            </p>
                            <ul class="sub_level_list list-reset pl-4 absolute top-0 bottom-0 right-0 w-full bg-grey-dark">
                                <li class="sub-level-list-close flex items-center text-sm  text-white hover:text-orange cursor-pointer mb-4 mt-3" id="sublevel">
                                    {% include svg/left_arrow.svg %}

                                    {{ collection.title[page.lang] }}

                                </li>
                                    {% assign sorted_sub_articles = (all_articles | sort: 'weight' ) %}
                                    {% for art in sorted_sub_articles %}
                                        {% assign parts = art.path | split: "/" %}
                                        {% assign num_parts = art.path | split: "/" | size %}
                                        {% if num_parts == 3 and parts[1] == sub_level %}

                                <li>
                                    <a class="w-full block py-2 hover:text-orange text-white no-underline" href="{{ art.url | relative_url }}">
                                        {{ art.menu_title | default: art.title | escape }}
                                    </a>
                                </li>

                                        {% endif %}
                                    {% endfor %}

                            </ul>
                        </li>

                                    {% assign used_categories = used_categories | push: sub_level %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>
                </div>

            </div>
        {% endif %}
    {% endif %}
{% endfor %}
