{% if page.lang == 'de' %}
  {% capture search_link %}/search.html{% endcapture %}
{% else %}
  {% capture search_link %}/{{page.lang}}/search.html{% endcapture %}
{% endif %}

<div class="flex h-24 page-header">
    {% capture home_link %}{% if page.lang == 'en' %}/en/{% else %}/{% endif %}{% endcapture %}
    <div class="w-32 md:w-48 flex justify-center items-center bg-black z-40">
        <a class="no-underline w-full text-center max-w-xxs hover:opacity-75 focus:opacity-75" href="{{ home_link }}">
            <img src="/assets/logos/logo.svg" class="w-4/5 mx-auto" alt="Peakboard Logo">
        </a>
    </div>
    <div class="flex-auto h-12 z-20">
        <div class="flex items-center justify-end bg-black text-white h-12 z-20">
            <a href="mailto:support@peakboard.com" class="no-underline hover:text-orange text-grey-light flex items-center px-2 h-12">
                {% include svg/mail.svg %}
            </a>
            {% include {{include.lang_selector}}_lang_selector.html %}
        </div>
    </div>
    <div class="bg-black text-white h-12 flex justify-end xl:justify-start items-center absolute mt-12 w-full">
        <div class="navbar z-30 flex flex-col lg:hidden xl:flex-row bg-black md:justify-center w-full">
            <div class="navbar-inner xl:flex bg-black items-center text-white xl:pt-0">
                {% include menu_bar.html %}
            </div>
        </div>
        <div class="text-white menu-trigger mr-2 h-12 flex lg:hidden items-center">
            {% include svg/hamburger.svg %}
        </div>
    </div>
</div>
<div class="page-header">
    <div class="bg-black grid items-center pt-8 lg:pt-0">
        <h2 id="normal-title" class="text-4xl text-white text-center font-black font-title dot lg:text-5xl">{% if page.product == 'hub' %}Peakboard Hub{% elsif include.homepage %}Peakboard Help{% else %}Peakboard Designer{% endif %}</h2>

        {% if include.homepage %}
            <p class="px-4 text-lg text-white text-center pt-3 pb-6 max-w-lg mx-auto lg:px-0">
                Diese Seite hilft dir, Peakboard schnell zu verstehen und es optimal für
                deine Bedürfnisse zu nutzen. Es gibt Artikel für Anfänger, für Fortgeschrittene und auch ganze
                Tutorials, die anhand eines Beispiels genau erklären, wie du deine Visualisierung erstellst.
            </p>
        {% endif %}

        {% if include.lang_selector == 'search' %}
            <!-- alternative titles for search page -->
            <h2 id="hub-title" class="hidden text-4xl text-white text-center font-black font-title dot lg:text-5xl">Peakboard Hub</h2>
            <h2 id="designer-title" class="hidden text-4xl text-white text-center font-black font-title dot lg:text-5xl">Peakboard Designer</h2>

            <style>.ais-search-box { max-width: 100%; width: 100%; border-radius: 9999px; }</style>
            <section class="bg-black my-8 mx-auto px-4 max-w-lg w-full" id="search-box"><!-- SearchBox --></section>
        {% else %}
            <div class="search-container my-8 mx-auto max-w-lg px-4">
                <form id="search-form-homepage" action="{{search_link}}">
                    <span>
                        <input type="text" class="search-bar search-bar-rounded focus:ring-0" placeholder="{% if page.product == 'hub' %}{{ site.language[page.lang].homepage-top-section-search-placeholder-hub }}{% elsif include.homepage %}{{ site.language[page.lang].homepage-top-section-search-placeholder }}{% else %}{{ site.language[page.lang].homepage-top-section-search-placeholder-designer }}{% endif %}" name="fromHomepage" autocapitalize="off" autocomplete="off" autocorrect="off">
                        <input type="hidden" name="product" value="{% if page.product == 'hub' %}hub{% elsif include.homepage %}help{% else %}designer{% endif %}">
                    </span>
                </form>
            </div>
        {% endif %}
    </div>
</div>

{% if include.homepage %}
<style>
    .custom-shape-divider-bottom-one {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        background: #000000;
    }
    .custom-shape-divider-bottom-one svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 120px;
    }

    .custom-shape-divider-bottom-one .shape-fill {
        fill: #ffffff;
    }
</style>
<div class="hidden md:block custom-shape-divider-bottom-one">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
    </svg>
</div>
{% endif %}