<h2 id="{{ include.data.version | remove: '.' }}-{{ include.data.date | remove: '.' }}-download">{{ include.data.version }} ({{ include.data.date }}) {% if include.data.download_url and include.data.download_url != '' %}<a data-version="{{ include.data.version }}" data-download-link-box="{{ include.data.box_download_url }}" data-download-link-designer="{{ include.data.designer_download_url }}" href="#">Download</a>{% endif %}</h2>
<div id="{{ include.data.version | remove: '.' }}-container">
  <div class="block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex flex-wrap" aria-label="Tabs">
        {% assign counter = 1 %}
        {% for tab in include.data.tabs %}
          <a variant="normal" id="{{ include.data.version | remove: '.' }}-{{ include.data.date | remove: '.' }}-tab-{% if tab.name != '' %}{{ tab.name | replace: ' ', '-' }}{% else %}{{ counter }}{% endif %}"
             class="tab-item border-transparent break-words hover:border-gray-300 cursor-pointer text-gray-darkest hover:text-gray-darker py-4 px-4 text-center border-b-2 font-semibold">
            {% if tab.name != '' %}{{ tab.name }}{% else %}{{ counter }}{% assign counter = counter | plus: 1 %}{% endif %}
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
  {% assign other_counter = 1 %}
  {% for tab in include.data.tabs %}
    <div class="hidden mb-8" id="{{ include.data.version | remove: '.' }}-{{ include.data.date | remove: '.' }}-tab-{% if tab.name != '' %}{{ tab.name | replace: ' ', '-' }}{% else %}{{ other_counter }}{% assign other_counter = other_counter | plus: 1 %}{% endif %}-content">
      {% for content in tab.content %}
        {% if content.type == 'list' %}
        <ul>
          {% for item in content.list_items %}
            <li>{{ item | markdownify }}</li>
          {% endfor %}
        </ul>
        {% elsif content.type == 'headline' %}
        <h3>{{ content.text | markdownify }}</h3>
        {% elsif content.type == 'image' %}
        <img src="/assets/images/versions/{{ content.image }}" class="block w-auto lightbox-ignore m-4" height="420" alt="{{ tab.name }}">
        <p class="m-4">{{ content.description | markdownify }}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>