{% if page.lang == 'de' %}
    {% capture search_link %}/search.html{% endcapture %}
{% else %}
    {% capture search_link %}/{{page.lang}}/search.html{% endcapture %}
{% endif %}

<form class="search-form" action="{{search_link}}">
    <div id="top-menu-search-input" class="md:flex hidden items-center  px-3 h-12 bg-grey-darkest text-grey-light">
        <input class="search-form-input text-grey-light bg-grey-darkest" autocapitalize="off" autocomplete="off" placeholder="{{ site.language[page.lang].search-bar-placeholder }}" role="textbox" spellcheck="false" type="text" value="" name="fromHomepage" >
    </div>
    <button type="button" id="top-menu-search-button" class="no-underline hover:text-orange text-grey-light md:flex hidden items-center page-header-bg px-2 h-12">
        {% include svg/search-24.svg %}
    </button>
</form>
<a href="mailto:support@peakboard.com" class="no-underline hover:text-orange text-grey-light flex items-center px-2 h-12">
    {% include svg/mail.svg %}
</a>