---
layout: base
---

{% include page_header.html lang_selector="article" %}
<div class="grid grid-cols-5">
    <div class="hidden bg-gray-200 lg:col-span-1 lg:block">
        {% include side_menu.html %}
    </div>
    <section class="col-span-5 lg:col-span-3 bg-white" id="page-content">
        <div class="px-8 mx-auto my-8 article-content">
            <h3>{{ collection.title[page.lang] | capitalize }}</h3>
            <h1>{{ page.title }}</h1>

            {{ content }}
        </div>

        {% include review.html lang=page.lang %}

        {% include cta.html lang=page.lang %}

    </section>
    <div class="hidden bg-gray-200 lg:col-span-1 lg:block">

    </div>
</div>

<script src="{{ 'assets/prism.js' | relative_url }}"></script>
