<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}" class="h-full no-js">
{% include head.html %}


<body class="font-sans flex flex-col min-h-full">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="flex-auto">
        {{ content }}
    </div>
    {% include footer.html %}
    <script src="{{ '/assets/app.js' | relative_url }}?{{ site.time | date: '%s%N' }}"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

     {% include serviceWorker.html %} 
</body>

</html>
