---
layout: base
---

{% include page_header.html lang_selector="article" %}
<div class="grid grid-cols-5">
  <div class="hidden bg-gray-200 lg:col-span-1 lg:block">
    {% include side_menu.html nav_to_category="true" %}
  </div>
  <section class="col-span-5 lg:col-span-3">
    <div class="px-8 mx-auto my-8 article-content">

      {% assign collections = site.collections | sort: 'position' %}

      {% for collection in collections %}
        {% if collection.label == page.category_landing %}
          {% assign collection = collection %}

            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" style="fill: none !important;" class="w-12 h-12 mt-8 mx-auto" xmlns="http://www.w3.org/2000/svg">
              {% assign svg_file_name = collection.new_icon %}
              {% include svg/{{ svg_file_name }} class="w-7 h-7 flex-shrink-0" style="fill: none !important;" %}
            </svg>

            <h1 class="text-center">{{ collection.title[page.lang] }}</h1>
            <p class="text-center mt-6">{{ collection.category_landing_text[page.lang] }}</p>
          </div>
          <div class="w-1/2 px-8 mx-auto my-8">
            <p class="text-xl text-center mt-10 mb-4 font-semibold font-title">{{ site.language[page.lang].category-landing-menu-title }}</p>

            {% assign articles=site[collection.label] | where:"lang",page.lang %}
            {% assign sorted_articles = articles | sort: 'weight' %}
            {% for article in sorted_articles %}
              {% assign parts = article.path | split: "/" %}
              {% assign num_parts = article.path | split: "/" | size %}
              {% unless article.draft %}
                {% unless article.hide_in_menu %}
                  {% if num_parts == 2 %}
                    <a class="text-center w-full block py-1 text-sm no-underline text-black hover:text-orange" href="{{ article.url | relative_url }}">
                      {{ article.menu_title | default: article.title | escape }}
                    </a>
                  {% else %}
                    {% assign sub_level = parts[1] %}
                    {% assign matched = used_categories | where_exp:"item", "item == sub_level" | size %}
                    {% if matched == 1 %}
                      {% assign all_articles = site[collection.label] | where: "lang", page.lang %}
                      {% assign current_page_parts = page.url | split: "/" %}
                      <p class="text-center w-full block py-1 hover:text-orange text-sm text-black no-underline side-menu-subcategory cursor-pointer">
                        {{ sub_level | replace: "_", " " | escape }}

                        <!-- to -rotate-90 -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.5 531.74" overflow="visible" stroke="currentColor" xml:space="preserve" class="h-2.5 w-2.5 inline mr-0.5 ml-2 transform rotate-180">
                            <polygon points="460,530.874 1,265.87 460,0.866 "/>
                        </svg>
                      </p>

                      {% assign sorted_sub_articles = all_articles | sort: 'weight' %}
                      <div class="hidden">
                        {% for art in sorted_sub_articles %}
                          {% assign parts = art.path | split: "/" %}
                          {% assign num_parts = art.path | split: "/" | size %}
                          {% if num_parts == 3 and parts[1] == sub_level %}
                            <a class="text-center w-full block py-1 text-sm no-underline text-gray-600 hover:text-orange" href="{{ art.url | relative_url }}">
                              {{ art.title | escape }}
                            </a>

                          {% endif %}
                        {% endfor %}
                      </div>

                      {% assign used_categories = used_categories | push: sub_level %}
                    {% endif %}
                  {% endif %}
                {% endunless %}
              {% endunless %}
            {% endfor %}
        {% endif %}
      {% endfor %}

    </div>
  </section>
  <div class="hidden bg-gray-200 lg:col-span-1 lg:block">

  </div>
</div>