---
layout: base
---

{% include page_header.html lang_selector="home" %}

{% assign home = site.data.trans.home_page %}
<section class="bg-grey-lightest py-8 px-8">
    <h3 class="font-normal text-4xl text-black">{{ home.banner.heading[page.lang] }}</h3>
    <p class="my-3">Here you will find tutorials and articles on using Peakboard.</p>
    <p class="my-3">For technical problems contact technical support:</p>
    <p class="my-3 font-bold">
        <a class="no-underline hover:opacity-75 text-orange" href="https://peakboard.zendesk.com/">Support-System</a>
    </p>
    <p class="my-3 font-bold">
        <a class="no-underline hover:opacity-75 text-orange" href="mailto:support@peakboard.com">support@peakboard.com</a>
    </p>
</section>
<div class="accordian-nav my-6 max-w-xl mx-auto">
    {% include accordian.html %}
</div>
