---
layout: base
tipue_search_active: true
---

{% include page_header.html lang_selector="home" %}

{% assign home = site.data.trans.home_page %}
<section class="hero py-8 px-8">
    <h3 class="font-bold text-4xl text-white">Peakboard Help Site</h3>
    <p class="my-3 text-white">Hier finden Sie Tutorials und Artikel zur Verwendung von Peakboard.</p>

<div class= "flex justify-center">
  <form action="/search/">
  <input class=" w-4/5 flex-initial shadow appearance-none opacity-50 border rounded  py-2 px-3 m-2 text-grey-darker" type="text" name="q" id="tipue_search_input">
  </form>




  <script>
  $(document).ready(function() {
    $('#tipue_search_input').tipuesearch();
  });
  </script>

    <!--<input class=" w-4/5 flex-initial shadow appearance-none opacity-50 border rounded  py-2 px-3 m-2 text-grey-darker" id="serach" type="text" placeholder="Haben Sie eine Frage?">-->
    <button class="bg-transparent hover:bg-orange text-orange font-semibold hover:text-white py-2 px-4 m-2 border border-orange hover:border-transparent rounded">
      Serach
    </button>

</div>
</section>


<div class="accordian-nav my-6 max-w-xl mx-auto">
    {% include accordian.html %}
</div>
