---
layout: base
---

{% include page_header.html lang_selector="home" %}

{% assign home = site.data.trans.home_page %}
<section class="bg-grey-lightest py-8 px-8">
    <h3 class="font-normal text-4xl text-black">{{ home.banner.heading[page.lang] }}</h3>
    <p class="my-3">Here you will find tutorials and articles on using Peakboard.</p>
    <p class="my-3">For technical problems contact technical support:</p>
    <p class="mb-3">Tel:
        <a href="#" class="text-orange no-underline hover:underline">+49 711 46 05 99 -61</a>
    </p>
    <p class="mb-3">E-Mail:
        <a href="mailto:support@peakboard.com" class="text-orange no-underline hover:underline">support@peakboard.com</a>
    </p>
</section>
<div class="accordian-nav my-6 max-w-xl mx-auto">
    {% include accordian.html %}
</div>
